.optionButtons{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--acc-primary-color);
}

.optionButton {
  margin: 0.25em;
  font-family: arvo;
  color: var(--font-color)
}

.textarea {
  background: var(--acc-secondary-color);
  filter: brightness(105%);
  position: absolute;
  margin: var(--text-area-margin);
  border: 0;
  width: calc(100% - 2 * var(--text-area-margin));
  height: calc(100% - 2 * var(--text-area-margin));
  padding: 0;
  resize: none;
}