.optionButtons{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--acc-primary-color);
}

.optionButton {
  margin: 0.25em;
  font-family: arvo;
  color: var(--font-color)
}

.uisection {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}