.optionButtons{
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--acc-primary-color);
}

.optionButton {
  margin: 0.25em;
  font-family: arvo;
  color: var(--font-color)
}