:root {
  --text-area-margin: 2em;
}

.main {
  background: var(--acc-secondary-color);
  width: 100%;
  position: relative;
  max-height: 1000px;
  flex-grow: 1;
  margin-bottom: 1em;
}

.readerdrop {
  color: var(--font-color);
  font-family: arvo;
  position: absolute;
}

.binonicTextDiv {
  font-family: 'Times New Roman', Times, serif;
}