.main {
  background: var(--acc-secondary-color);
  padding: 1em;
}

.textarea {
  background: var(--acc-secondary-color);
  filter: brightness(110%);
}

.readerdrop {
  color: var(--font-color);
  font-family: arvo;
}