:root {
  --app-lr-pad: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--app-lr-pad) 1em var(--app-lr-pad);
  height: 100vh;
}

.header {
  font-family: oda;
  width: 100%;
}

.title {
  text-align: center;
  font-size: min(
    80px,
    calc(0.22 * (50vw - var(--app-lr-pad))));
}

.footer {
  padding-top: 1em;
}