:root {
  --app-lr-pad: 3em;
  --app-max-width: 1000px;
  --app-width: min(
    var(--app-max-width),
    calc(100vw - 2 * var(--app-lr-pad)));
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  width: var(--app-width);
  height: 100vh;
}

.header {
  font-family: oda;
  width: 100%;
}

.title {
  text-align: center;
  font-size: calc(0.11 * var(--app-width));
}

.footer {
  padding-top: 1em;
}