:root {
  --main-bg-color: #E8F2FF;
  --acc-secondary-color: #E6D8BA;
  --acc-primary-color: #FFC939;
  --font-color: #544F42;
}

body {
  margin: 0;
  font-family: arvo;
  color: var(--font-color);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: var(--main-bg-color);
}

@font-face {
  font-family: oda;
  src: url("static/fonts/ODA-all/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: arvo;
  src: url("static/fonts/ARVO-all/Arvo-Regular.ttf") format("truetype");
}